.current {
  position: fixed;
  top: 17.7rem;
  margin-left: 45vw;
}

.current__heading {
  margin-bottom: 1rem;
  font-weight: 200;
}

.current__text {
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .current {
    max-width: 80vw;
    margin-left: 2rem;
    top: 19rem;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 375px) {
  .current {
    top: 14rem;
    font-size: 1rem;
    line-height: 140%;
  }
}