.footer {
  font-size: 1.25rem;
  font-weight: 200;
  position: fixed;
  bottom: 1rem;
  width: 100vw;
  text-align: center;
}

.footer:hover {
  color: #FDE74C;
  font-weight: 400;
  transition: ease-in-out .1s;
}