.forecasted {
  position: fixed;
  top: 17.7rem;
  margin-left: 45vw;
}

.forecasted__heading {
  margin-bottom: 1rem;
  font-weight: 200;
}

.forecasted__forecasts {
  font-weight: 200;
  display: flex;
  width: 50vw;
}

.forecasted__forecast {
  margin-right: 2rem;
  min-width: 10vw;
}

.forecasted__date,
.forecasted__subheading {
  font-size: 150%;
  margin-bottom: 1rem;
}

.forecasted__scroll {
  display: none;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .forecasted {
    width: 90vw;
    margin-left: 1rem;
    top: 19rem;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .forecasted__forecasts {
    width: 85vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-left: 1rem;
  }

  .forecasted__forecast {
    margin-bottom: 1rem;
  }

  .forecasted__date {
    font-size: 160%;
  }

  .forecasted__scroll {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .forecasted {
    top: 13.5rem;
    font-size: .8rem;
    line-height: 140%;
  }

  .forecasted__forecasts {
    height: 35vh;
  }

}