.navbar {
  max-width: 50vw;
  /* margin: auto; */
  top: 10rem;
  margin-left: 25vw;
  position: fixed;
}

.navbar__logo {
  font-size: 5rem;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

.navbar__anchors {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: space-around;
}

.navbar__anchor {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 200;
  transition: font-weight .1s ease-in-out;
}

.navbar__anchor:hover {
  font-weight: 400;
}